:host {
    pointer-events: none;
    font-size: 1em;
    display: block;
    color: darkcyan
}

p {
    display: inline;
    white-space: pre-wrap;
}

:host.todo {
    color: white;
}

:host.todoDone {
    color: greenyellow!important;
}

:host.todoCancelled {
    color: red!important;
}

:host.todoStarted {
    color: yellow;
}


:host.group {
    color: aqua;
}

:host.tagElapsed {
    color: #b9ab82;
}