<div id="wrapper">
    <form>
        <textarea autofocus (input)=onTextInput($event)>
Soy una anotacion normal y corriente
Soy un grupo:
-Soy una tarea
-Soy una tarea con un @tag.normal
-Soy una tarea comenzada @started(2018-09-28T09:50:17.079Z)
-Soy una tarea terminada @done(2018-09-28T09:50:17.079Z)
-Soy una tarea terminada con tiempo @started(2018-09-28T09:50:17.079Z) @done(2018-09-28T09:50:17.079Z)
-Soy una tarea cancelada @cancelled(2018-09-28T09:50:17.079Z)
-Soy una tarea con tiempo wasted @started(2018-09-28T09:50:17.079Z) @canceled(2018-09-28T09:50:17.079Z)
        </textarea>
      </form>
      
      <div id="todo-container">
        <app-todo-item *ngFor ='let todo of todos$ | async' [text]=todo.text></app-todo-item>
      </div>
</div>

